* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  margin: 1rem;
  padding: 1rem;
  color: #fff;

  h1 {
    color: yellow;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
    color: red;
  }

  .description {
    margin-bottom: 1rem;
  }

  span {
    color: chocolate;
    font-weight: bold;
    font-size: large;
  }

  .germanNoun {
    margin: 1rem 0;
    padding: 1rem;
    background-color: rgb(12, 41, 12);
  }

  .article-singular {
    color: rgb(19, 120, 120);
  }

  .plural {
    color: greenyellow;
    font-style: italic;
    margin-top: 0.25rem;
  }

  .back {
    margin-top: 0.5rem;
    background-color: rgb(16, 61, 16);
    padding: 0.3rem;
  }

  .front {
    color: rgb(161, 145, 233);
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }

  .markAsLearned {
    margin-top: 0.5rem;
    padding: 0.1rem;
  }
}
